<!DOCTYPE html>
<html>
<head>
    <title>Expenses App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top:10px;">
        <div class="navbar ">
            <div class="navbar-inner">
                <a class="brand" href="#">Expenses App</a>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/index">All Expenses</a></li>
                    <li><a href="/new">New Log</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <!--<li><a href="/auth/google">Login with Google</a></li>-->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <% cash.forEach(function(cash) { %>
                    <div>
                        <p>
                            <%= "Date: " + cash.date %>
                        </p>
                        <p>
                            <%= "Amount: " + cash.amount %>
                        </p>
                        <p>
                            <%= "Details: " + cash.details %>
                        </p>
                        <p>
                            <%= "Bill Number: " + cash.billNumber %>
                        </p>
                        <p>
                            <%= "Remaining Amount: " + cash.remainingAmount %>
                        </p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>