<!DOCTYPE html>
<html>
<head>
    <title>Expenses App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="./Public/css/bootstrap.min.css" media="screen"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top:10px;">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#">Expenses App</a>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/">All Expenses</a></li>
                    <li><a href="/new">New Log</a></li>
                    <li><a href="/">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <% cash.forEach(function(cash) { %>
                    <div>
                        <p>
                            <%= cash.date %>
                        </p>
                        <p>
                            <%= cash.amount %>
                        </p>
                        <p>
                            <%= cash.details %>
                        </p>
                        <p>
                            <%= cash.billNumber %>
                        </p>
                        <p>
                            <%= cash.remainingAmount %>
                        </p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>